@import "./vars.scss";
@mixin btn($btn-pad-vert, $btn-pad-hor){
    padding:$btn-pad-vert $btn-pad-hor;
    background-color: transparent;
    transition: opacity 300ms ease-in-out, background 300ms ease-in-out;
    &:hover{
        background: $header-add-color;
    }
}
@mixin line($line-bg-url){
   
    height:200vh;
    width:6.19831rem;
    background: url($line-bg-url) top;
   background-position: ce 4rem;
}