$bg-color: #110A1D;

$font-color-main: rgba(255, 255, 255, 1);
$header-btn-font-weight: 400;
$header-btn-font-size: 16px;

$header-add-color: #478BF9;


$info-heading-font-size: 96px;
$info-heading-font-weight: 500;
$info-heading-firs-color:#478BF9;
$info-heading-second-color:rgba(255, 255, 255, 1);
$info-button-text-color:rgba(255, 255, 255, 1);
$info-button-text-size:32px;
$info-text-color:#FFFFFF99;
$info-btn-color:#478BF9;